.container {    
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    outline: 5px solid black;
}

button {
    width: 100px;
    font-size: 25px;
}

.buttonsGroup {
    padding: 15px;

    display: flex;
    gap: 15px;
    outline: 2px solid black;
}

.stopwatch {
    font-size: 28px;
    display: flex;
    gap: 5px;
    outline: 2px solid black;
}